h1 {
    color: red;
}
.Header {
    height: 80px;
    overflow: hidden;
    text-align: center;
    background-color: black;
    color: #fff;
    & > span{
        height: 100%;
        margin: auto;
        padding-top: 20px;
        display: inline-block;
        width: auto;
    }
}
.Header-title {
    font-weight: 900;
    text-transform: uppercase;
}
.Header-desc {
    margin-top: 4px;
    text-align: right;
    span{
        font-weight: 300;
        margin: 0 4px;
    }
    & span:nth-of-type(1){
        color: cornflowerblue;
    }
    & span:nth-of-type(2){
        color: red;
    }
    & span:nth-of-type(3){
        color: yellow;
    }
}